<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>290607024827-do85k20inkipu3kepde2bmbfeb3jp5qg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.290607024827-do85k20inkipu3kepde2bmbfeb3jp5qg</string>
	<key>API_KEY</key>
	<string>AIzaSyBjlHeH82i-2Gfbj5c_KBy_FH4c-jy347c</string>
	<key>GCM_SENDER_ID</key>
	<string>290607024827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.50.FominAlexander.MathsQuiz</string>
	<key>PROJECT_ID</key>
	<string>maths-quiz-78c93</string>
	<key>STORAGE_BUCKET</key>
	<string>maths-quiz-78c93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:290607024827:ios:4d5a84f29129f1715c379e</string>
</dict>
</plist>